body {
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
}

header {
  .row {
    background-color: blue;
    height: 50px;

    .text-search {
      padding-top: 10px;
      
      input {
        width: 100%;
        height: 30px;
      }
    }
  }
}